{% extends "layout.html" %}

{% block body %}
<div class="container">
	<div class="page-header">
	
		<div class="list-group">
			<a class="list-group-item active">
			    <h4 class="list-group-item-heading">Duty-list</h4>
			</a>
	  
	 	 </div>
		 
	</div>
</div>
<div class="container">
	<form class="form-inline">
	  <div class="form-group">
	    <label for="exampleInputEmail2">Category</label>
	    <select class="form-control" name="name">
	    	  {% if category_list %}

              {% for category in category_list %}
                   <option value="{{category.category_id}}">{{category.name}}</option>
              {% endfor %}
            {% endif %}
		</select>
	  </div>
	  <button type="submit" class="btn btn-default">Search</button>
	</form>
	<a class="btn btn-danger" href="{{ url_for ('add_duty') }}">ADD</a><a class="btn btn-success" href="{{ url_for ('add_category') }}">Add Category</a>
</div>
<div class="container">
  		<table class=" table table-hover">
  			<thead>
  				<th class="active">ID</th>
  				<th class="active">Title</th>
  				<th class="active">Category</th>
  				<th class="active">是否公开</th>
  				<th class="active">是否完成</th>
  				<th class="active">创建时间</th>
  			</thead>
  			<tbody>
  				{% if duty_list %}
  				{% for duty in duty_list %}
				<tr>
				  <td class="active">{{duty.duty_id}}</td>
				  <td class="success">{{duty.title}}</td>
				  <td class="warning">{{duty.name}}</td>
				  <td class="danger">{% if duty.is_show == 1 %}是{% else %}否{% endif %}</td>
				  <td class="info">{% if duty.status == 1 %}是{% else %}否{% endif %}</td>
				  <td class="info">{{duty.create_time}}</td>
				</tr>
				 {% endfor %}
				{% endif %}
  			</tbody>

		</table>
</div>
{% endblock %}